# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env.test
venv/

# Testing & Quality
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# Logging files
*.log
gunicorn.log

# Pytest coverage
*.coverage
coverage.xml